# - This is the build pipeline to build and push the automated test docker image to Dockerhub 

on:
    workflow_dispatch:     
  # Trigger the workflow on push or pull request,
  # but only for the main branch
    push:
      branches:
      - master
    pull_request:
      branches:
      - master

jobs:
    build:
        name: Call Azure Pipeline
        runs-on: ubuntu-latest
        steps:
        - name: Azure Pipelines Action
          uses: Azure/pipelines@v1
          with:
            azure-devops-project-url: https://dev.azure.com/AzureBootCampOrganization/AzureBootCampArtifacts
            azure-pipeline-name: 'functional_assurance'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
